*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Montserrat,sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}

img{
	vertical-align: middle;
}
ul,ol{
	list-style: none;
}
/*li{
	float: left;
}*/
.area{
	width: 1000px;
	margin: 50px auto 0 auto;
	overflow: hidden;
}

/*头部*/
.top {
	height: 150px;
}

/*底部导航*/
.footer{
	width: 100%;
	height: 192px;
	font-size: 12px;
	line-height: 50px;
}
.footer nav{
	padding: 20px 0 0 0;
	
}
.footer p a{
	display: inline-block;
}

.footer p a img{
	display: inline-block;
	width: 36px;
	height: 50px;
}

/*返回顶部按钮*/
.toTop{
	display: block;
	width: 68px;
	height: 29px;
	position: fixed;
	bottom: 75px;
	right: 15px;
	background: url(../img/index/top.png) no-repeat 0 -40px;
	display: none;
	
}
.toTop:hover{
	background-position: 0 0;
}

/*位置*/
.crumb{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	font-size: 14px;
}
.crumb a{
	font-weight: 700;
	border-bottom: deepskyblue solid 1px;
}
.crumb a:hover{
	color: deepskyblue;
}
