.mod_copyright{
	text-align: center;
	margin-top: 20px;
}
.mod_copyright p {
	
	display: block;
	line-height: 25px;
	
}
.mod_copyright p a{
	display: inline-block;
	padding:0 6px;
}
.mod_copyright p a:hover{
	color:#C81623;
}

.mod_copyright .message{
	padding: 15px 0 30px 0;
	height: 32px;
}
